$background: #ffffff;
$text: #000000;
$primary: #f5f5f5;
$secondary: #a9a9a9;
$tertiary: #e4e4e4;

$root: #e4e4e4;
$nonMetal: #61a8f0;
$nobleGas: #dbb087;
$alkaliMetal: #c091b2;
$transitionMetal: #85b889;
$postTransitionMetal: #bbbbbb;
$metalloid: #eeec90;
$lanthanide: #f3bbf0;
$actinide: #ce7777;

:export {
  root: $root;
  nonMetal: $nonMetal;
  nobleGas: $nobleGas;
  alkaliMetal: $alkaliMetal;
  transitionMetal: $transitionMetal;
  postTransitionMetal: $postTransitionMetal;
  metalloid: $metalloid;
  lanthanide: $lanthanide;
  actinide: $actinide;
}
