@import './colors';

.elementTile {
  border: 2px solid $text;
  width: 100px;
  height: 100px;
  margin: 5px;
  text-align: center;
  display: block;
  justify-content: center;
  align-content: center;
  margin: auto;
  display:flex;
  flex-direction: column;
}