@import './colors';

.textFlexContainer {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 0px 0px 0px 20px;
  opacity: 1;
  transition: 0.3s;
  color: $text;
  text-align: justify;
  background-color: transparent;
  max-width: 500px;
  padding: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  position: relative;
  max-width: 80%;
  margin-top: -13px;
  &:hover{
    position: relative;
    z-index: 2;
    opacity: 0.4;
  }
}

.disappearingText {
  display: inline-block;
  transition: 0.5s;
  z-index: 2;
}

.menuButton {
  position: absolute;
  bottom: -10px;
  left: 40px;
  width: 100px;
  height: 36px;
  border: solid $text;
  border-width: 2px 2px 0px 2px;
  outline: none;
  transition: bottom 0.5s, left 0.5s, right 0.5s;
  background-color: $background;
  color: $text;
  z-index: 3;
  &:hover{
    border-color: $secondary;
    opacity: 0.6;
  }
}

.sideMenuButton {
  z-index: 3;
  position: absolute;
  right: -3px;
  top: 62px;
  width: 36px;
  height: 100px;
  margin-left: 40px;
  border: 2px solid $text;
  outline: none;
  transition: right 0.5s;
  background-color: $background;
  color: $text;
  box-sizing: border-box;
  &:hover{
    border-color: $secondary;
    opacity: 0.6;
  }
}

.expandIcon {
  margin-bottom: 2px;
  width: 10px;
  height: 5px;
  transition: transform 0.5s;
}

.textHideShowIcon {
  display: inline-block;
  padding: 0px;
  width: 16px;
  height: 8px;
  margin-left: 2px;
  transition: opacity 0.5s ease;
}
