@import './colors';

.menuPanel{
  z-index: 1;
  position: absolute;
  bottom: 0px;
  height: 400px;
  width: 100%;
  border-top: 3px solid $text;
  margin: 0px;
  transition: height 0.75s;
  background-color: $background;
  overflow: scroll;
  display: flex;
}