@import './Colors.scss';

.background {
  opacity: 0.0;
  transition: opacity 1s, visibility 0s 1s;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $background;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;
}

.flexContainer{
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;
  visibility: hidden;
}

.content{
  width: 350px;
  height: 200px;
  background-color: transparent;
  opacity: 1.0;
  z-index: 9999;
  margin: auto;
  font-size: 1.2em;
}

.text {
  height: 50px;
  background-color: transparent;
}

.buttonContainer {
  width: 140px;
  float: right;
}

.confirmButton {
  margin-left: 20px;
  width: 60px;
  height: 30px;
  font-family: 'inconsolata';
  font-weight: 700;
  background-color: $background;
  border: 1.5px solid $text;
  outline: none;
}

.cancelButton {
  width: 60px;
  height: 30px;
  font-family: 'inconsolata';
  font-weight: 400;
  background-color: $secondary;
  border: 1.5px solid $text;
  outline: none;
}

.confirmButton:hover, .cancelButton:hover{
  opacity: 0.4;
}