@import './colors';

.sideMenuPanel {
  z-index: 1;
  position: absolute;
  right: -6px;
  height: 90%;
  width: 0%;
  border-left: 3px solid $text;
  border-top: 3px solid $text;
  margin: 0px;
  transition: width 0.5s, height 0.5s;
  background-color: $background;
  display: flex;
  flex-direction: column;
}

.editorHeader {
  padding: 5px;
  white-space: nowrap;
}

.categoryHeader { 
  padding: 0px;
  margin: 0px 0px 0px 5px;
  text-transform: lowercase;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  vertical-align: center;
  height: 30px;
  font-size: 0.8em;
  outline: none;
  &:hover{
    opacity: 0.4;
  }
}

.networkButtons {
  overflow-y: scroll;
  overflow-x: hidden;
}

.networkButton {
  font-family: inconsolata;
  display: block;
  border: none;
  width: 90%;
  height: 30px;
  margin: 5px 5px 5px 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  outline: none;
  background-color: $background;
  color: $text;
  white-space: nowrap;
  &:hover{
    color: $secondary;
  }
}

.selected {
  font-weight: 800;
}

.showHideIcon {
  float: right;
  margin: 5px 20px 0px 0px;
  width: 10px;
  height: 5px;
  transition: 0.5s;
}

.categoryContainer {
  opacity: 1.0;
  visibility: visible;
  transition: opacity 0.5s;
}

.hide {
  height: 0px;
  opacity: 0.0;
  visibility: hidden;
  transition: visibility 0.5s;
}
