@import './colors';

.sideMenuPanel{
  z-index: 1;
  position: absolute;
  right: -6px;
  height: 100%;
  width: 0%;
  border-left: 3px solid $text;
  border-top: 3px solid $text;
  margin: 0px;
  transition: width 0.5s, height 0.5s;
  background-color: $background;
  display: flex;
  flex-direction: column;
}

.editorHeader {
  padding: 5px;
  white-space: nowrap;
}

.networkButtons {
  height: 100%;
  overflow: scroll;
}

.networkButton {
  font-family: inconsolata;
  display: block;
  border: none;
  width: 90%;
  height: 30px;
  margin: 5px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  outline: none;
  background-color: $background;
  color: $text;
  white-space: nowrap;
}

.selected {
  font-weight: 800;
}

.networkButton:hover {
  color: $secondary;
}
