@import './colors';

.subPanel {
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid $text;
  width: 285px;
  min-width: 285px;
  height: 470px;
  margin: 15px;
  background-color: $background;
}

.subtitle{
  display: block;
  font-style: italic;
  font-weight: 200;
  font-size: 0.8em;
  margin-left: 20px;
}

.sliderLabel{
  display: block;
  font-family: 'Roboto Condensed';
  color: $text;
}

.toggleContainer{
  display: inline-block;
  font-family: 'Roboto Condensed';
   margin: 10px 10px 0px 10px;
}

.toggleParent.vertical {
  margin-top: 100px;
}

.sliderParent {
  width: 100%;
}

.sliderContainer {
  margin: 20px 0px 0px 20px;
}

.toggleParent {
  width: 90%;
  padding: 10px;
}


.slider {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 85%;
  align-self: center;
}
.slider:focus {
  outline: none;
}
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px $text, 0px 0px 1px $tertiary;
  background: $tertiary;
  border-radius: 1.3px;
  border: 0.4px solid $text;
}
.slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px $text, 0px 0px 1px #0d0d0d;
  border: 1px solid $text;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: $primary;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
.slider:focus::-webkit-slider-thumb {
  background: $primary;
}
.slider:focus::-webkit-slider-runnable-track {
  background: #4e4e4e;
}
.slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px $text, 0px 0px 1px #0d0d0d;
  background: lightgray;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px $text, 0px 0px 1px #0d0d0d;
  border: 1px solid $text;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: $primary;
  cursor: pointer;
}
.slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: black;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px $text, 0px 0px 1px #0d0d0d;
}
.slider::-ms-fill-upper {
  background: black;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px $text, 0px 0px 1px #0d0d0d;
}
.slider::-ms-thumb {
  box-shadow: 1px 1px 1px $text, 0px 0px 1px #0d0d0d;
  border: 1px solid $text;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: whitesmoke;
  cursor: pointer;
}
.slider:focus::-ms-fill-lower {
  background: black;
}
.slider:focus::-ms-fill-upper {
  background: black;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $tertiary;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggleSlider:before {
  box-shadow: 1px 1px 1px #4e4e4e, 0px 0px 1px #646464;
  box-sizing: border-box;
  border: 1px solid #4e4e4e;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: whitesmoke;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 3px;
}

input:checked + .toggleSlider {
  background-color: #4e4e4e;
}

input:checked + .toggleSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggleSlider.round {
  border-radius: 34px;
}

.toggleSlider.round:before {
  border-radius: 50%;
}

.slider.vertical {
  transform: rotate(270deg);
  display: inline-block;
  margin-top:120px;
  margin-left:-5px;
}
.sliderLabel.vertical {
  text-align:center;
  width: 80%;
  margin-bottom: 5px;
}
